.join-form {

  margin-top: 30px;
  max-width: 500px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  border-radius: 8px 8px 8px 8px;
  background-image: url('../../assets/images/triangle.svg') ;
}

.join-form .user-input{
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 10px;
}

.join-form .user-input label {
  color:#fff;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 8px;
  line-height: 1.2;

}

.join-form .user-input label span {
  display: block;
  font-size: 16px;


}

.join-form .user-input input{
  height: 30px;
  border: none;
  border-radius: 2px;
  width: 200px;
  text-align: center;

}

.join-form  .submit-button button {
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  background-color: #12FBFF;
  transition: all 2ms;
  color: black;
}

.join-form  .submit-button button:hover{
  background-color: #59ECFF;
  color: #fff;
  outline: none;
}

